<%- include('partials/header') -%>
    <h1>Compose</h1>
    <input type="text" name="" value="" id='blog'>
    <button type="submit" name="btn1" class='btn btn-small btn-info'><label for="blog">Publish</label></button>
<%- include('partials/footer') -%>
