<%- include('partials/header') -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <input type="text" name="blog" value=" " id='blog1' autocomplete="off">
      <button type="submit" name="btn1" class='btn btn-small btn-info'><label for="blog1">Publish</label></button>
    </form>
<%- include('partials/footer') -%>
